doctype
html( lang="en" ng-app="commitMap")
	head
		title commitMap Dash
		meta( charset='utf-8' )
		meta( http-equiv='X-UA-Compatible', content='IE=edge' )
		meta( name='viewport', content='width=device-width, initial-scale=1.0' )
		meta( name='description', content='Baking Bootstrap Snippets with Jade' )
		//- Bootswatch Theme
		link(href="//maxcdn.bootstrapcdn.com/bootswatch/3.3.0/cyborg/bootstrap.min.css", rel="stylesheet")
	//- dash override stylesheet
	link(href="/css/dash-overrides.css" rel="stylesheet")

	body( ng-app="commitMap" )
		// Fixed navbar
		.navbar.navbar-default.navbar-fixed-top(role='navigation')
			.navbar-header
				button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
					span.sr-only Toggle navigation
					span.icon-bar
					span.icon-bar
					span.icon-bar
				a.navbar-brand(href='#') commitMap
				//- img(src='http://alexmurphy.me/img/git_map_pin_320x320.png')
			.navbar-collapse.collapse
				ul.nav.navbar-nav
					li
						a(href='#about') Dashboard
					li
						a(href='#contact') Repositories
					li.dropdown
				//- 		a.dropdown-toggle(href='#', data-toggle='dropdown')
				//- 			| Dropdown 
				//- 			span.caret
				//- 		ul.dropdown-menu(role='menu')
				//- 			li
				//- 				a(href='#') Action
				//- 			li
				//- 				a(href='#') Another action
				//- 			li
				//- 				a(href='#') Something else here
				//- 			li.divider
				//- 			li.dropdown-header Nav header
				//- 			li
				//- 				a(href='#') Separated link
				//- 			li
				//- 				a(href='#') One more separated link
				//- ul.nav.navbar-nav.navbar-right
				//- 	li
				//- 		a(href='../navbar/') Default
				//- 	li
				//- 		a(href='../navbar-static-top/') Static top
				//- 	li.active
				//- 		a(href='./') Fixed top
				// /.nav-collapse
		.container <br /><br /><br /><br />
			legend.text-center 
				h3 Welcome to the commitMap Dashboard!
			.col-md-6
				.panel.panel-tomato
					.panel-heading.text-center
						h5 Github Profile Informaton
					.panel-body
						.panel-body
							.row
								.col-md-3.col-lg-3(align='center')
								img.img-circle(src='https://avatars.githubusercontent.com/u/7704414?v=3', name='aboutme', width='120', height='120')

								//
									<div class="col-xs-10 col-sm-10 hidden-md hidden-lg"> <br>
									<dl>
									<dt>DEPARTMENT:</dt>
									<dd>Administrator</dd>
									<dt>HIRE DATE</dt>
									<dd>11/12/2013</dd>
									<dt>DATE OF BIRTH</dt>
									<dd>11/12/2013</dd>
									<dt>GENDER</dt>
									<dd>Male</dd>
									</dl>
									</div>
								.col-md-9.col-lg-9
									table.table.table-striped
										tbody
											tr
												td Department:
												td Programming
											tr
												td Hire date:
												td 06/23/2013
											tr
												td Date of Birth
												td 01/24/1988
											tr
											tr
												td Gender
												td Male
											tr
												td Home Address
												td Metro Manila,Philippines
											tr
												td Email
												td
													a(href='mailto:info@support.com') info@support.com
											td Phone Number
											td
												| 123-4567-890(Landline)
												br
												br
												| 555-4567-890(Mobile)
									a.btn.btn-primary(href='#') My Sales Performance
									a.btn.btn-primary(href='#') Team Sales Performance
			.col-md-6
				.panel.panel-tomato
					.panel-heading.text-center
						h4 API access key
					.panel-body
						h5 this is the content

			// Main component for a primary marketing message or call to action
			//- .jumbotron
			//- 	h1 Navbar example
			//- 	p
			//- 		| This example is a quick exercise to illustrate how the default, static and fixed to top navbar work. It includes the responsive CSS and HTML, so it also adapts to your viewport and device.
			//- 	p To see the difference between static and fixed top navbars, just scroll.
			//- 	p
			//- 		a.btn.btn-lg.btn-primary(href='../../components/#navbar', role='button') View navbar docs &raquo;
			// /container

			// Bootstrap core JavaScript
			// ==================================================
